
{{block content}}
    <div id="englishContent" class="language-toggle active">
        <center><h1>Round Number : {{round_number}}</h1><br><h2>Your Role :</h2><br>
        
        {{if role in ['g1','g2','g3','g4']}}
        <img src="https://i.imgur.com/pzItH41.png" title="source: imgur.com" height="300"/>
        {{elif role in ['b11','b12']}}
        <img src="https://i.imgur.com/5iUO55g.png" title="source: imgur.com" height="300"/>
        {{elif role in ['b21','b22']}}
        <img src="https://i.imgur.com/9yihpSU.png" title="source: imgur.com" height="300"/>
        {{else}}
        <img src="https://i.imgur.com/y5zU5Xe.png" title="source: imgur.com" height="300"/>
        {{endif}}
    </center>
    </div>
    <div id="spanishContent" class="language-toggle">
        <center><h1>রাউন্ড নম্বর : {{round_number}}</h1></center>
        আপনার রোল (Role) :
        {{if role in ['g1','g2','g3','g4']}}
        সবুজ সল্ভার
        {{elif role in ['b11','b12']}}
        নীল সল্ভার টাইপ 1
        {{elif role in ['b21','b22']}}
        নীল সল্ভার টাইপ 2
        {{else}}
            অ্যাসাইনার
        {{endif}}
        <br>
        মোট পয়েন্ট : {{ points }}
    </div>
    <br>
    <button class="next-button large-button">Next</button>
{{endblock}}