{{block content}}
<style>
    #txtSearch {
            background-color: white;
            border: 2px solid #165fa3;
            color: black;
            padding: 10px;
            border-radius: 5px;
            width: 300px;
        }

        #txtSearch::placeholder {
            color: gray;
        }
        #btnSearch {
            background-color: #165fa3;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        #btnSearch:hover {
            background-color: #165fa3;
        }
        
</style>
    <div id="englishContent" class="language-toggle active">
        <center><h1>Activity Stage</h1></center> <br>
            
        {{if job}}
        <h2>Received Activity :  <img src="https://i.imgur.com/k3TCN23.png" height = '50px'/></h2>
        {{else}}
        <h2>Received Activity :  <img src = "https://i.imgur.com/vtuWLsY.png" height = '50px'/></h2> 
        {{endif}}
        <div id="correct_ans" style="font-size: 30px; display: block;">
            Correct answer count: {{correct}}
        </div>
    
    </div>
    <div id="spanishContent" class="language-toggle">
        <center><h1>অ্যাক্টিভিটি পর্যায়</h1></center>
        {{if job}}
        প্রাপ্ত অ্যাক্টিভিটি : অ্যাক্টিভিটি A<br>
            {{if role in ["b21", "b22"]}}
            প্রতি 2টি সমাধান করা অ্যাক্টিভিটি আপনাকে 50 পয়েন্ট দেবে<br>
            {{else}}
            প্রতিটি সমাধান করা অ্যাক্টিভিটি আপনাকে 50 পয়েন্ট দেবে<br>
            {{endif}}
        {{else}}
        প্রাপ্ত অ্যাক্টিভিটি : অ্যাক্টিভিটি B<br>
        প্রতিটি সমাধান করা অ্যাক্টিভিটি আপনাকে 25 পয়েন্ট দেবে<br>
        {{endif}}
        30 সেকেন্ডের জন্য নিম্নলিখিত প্রশ্নের উত্তর দিতে থাকুন। জমা দিতে "Enter" Key চাপুন<br>
    </div>
    <br>
<div id = "numbers" style="font-size: 30px; display: block;margin-left: 40%;">
    {{num1}} * {{num2}} = ?
</div>
<br>
Press "Enter" Key to submit
<input type="text" id="txtSearch" onkeypress="return searchKeyPress(event);" style="width: 100%;" placeholder="Answer"/>

<input type="button" id="btnSearch" Value="Search" onclick="submit_ans()" hidden/>




{{ endblock }}

{% block scripts %}

<script>
    function submit_ans(){
        ans = parseFloat(document.getElementById("txtSearch").value)
        liveSend({"type": "ans", "data":{"ans" : ans}})
    }

    function liveRecv(data) {
        let numbers = document.getElementById("numbers")
        let correct_ans = document.getElementById("correct_ans")
        if (data["type"] == "reload"){
            numbers.innerHTML = data["data"]['num1'] + ' * ' + data["data"]['num2'] + " = ? ";
            correct_ans.innerHTML = "Correct answer count: " + data["data"]["correct"]
    }
  }

  function searchKeyPress(e)
{
    // look for window.event in case event isn't passed in
    e = e || window.event;
    if (e.keyCode == 13)
    {
        document.getElementById('btnSearch').click();
        document.getElementById("txtSearch").value = "";
        return false;
    }
    return true;
}
</script>

{% endblock %}
